<div class="table-responsive  overflow-auto" >
        <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-width: 1600px; max-height: 700px;">
<table class="table table-sm">
    <thead class="table-dark">
        <tr>
            <th scope="col">I.D.</th>
            <th scope="col">Nombre E.</th>
            <th scope="col">Tel. Emp.</th>
            <th scope="col">Tel. Per.</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Localidad</th>
            <th scope="col">Servicio</th>
            <th scope="col">T. Servicio</th>
            <th scope="col">Correo</th>
            <th scope="col">Observación</th>
            <th scope="col">Usuario</th>
            <th scope="col">Fecha Reg</th>
            <th scope="col">Origen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <!-- <th scope="row">1</th> -->
            <td>{{p.nit}}</td>
            <td>{{p.nombreE}}</td>
            <td>{{p.telefonoE}}</td>
            <td>{{p.telCel}}</td>
            <td>{{p.primerN}}</td>
            <td>{{p.primerA}}</td>
            <td>{{p.ciudad}}</td>
            <td>{{p.munLocalidad}}{{p.otraCiudad}}</td>
            <td>{{p.servicio}}</td>
            <td>{{p.tipoServicio}}</td>
            <td>{{p.correo}}</td>
            <td>{{p.observacion}}</td>
            <td>{{p.usuario}}</td>
            <!-- <td>{{p.fechaReg}}-{{p.horaReg}}</td> -->
            <td>{{p.fechaReg | date:'dd/MM/y'}} {{p.horaReg}}</td>
            <td>{{p.origen}}</td>
        </tr>
    </tbody>
</table>
</div>
</div>